{% extends 'admin_templates/base_template.html' %} 

{% comment %} block for title {% endcomment %}
{% block title %}
 Dasboard 
 {% endblock title %}
{% comment %} end block for title {% endcomment %}


{% comment %} start block for css {% endcomment %}
{% block custom_css %}
{% endblock custom_css %}
{% comment %} end block for css {% endcomment %}

{% comment %} start block for page_title {% endcomment %}
{% block page_title %}
Dashboard
{% endblock page_title %}
{% comment %} end block for page_title {% endcomment %}

{% comment %} start block for page_content {% endcomment %}
{% block page_content %}
Dashboard
{% endblock page_content %}
{% comment %} end block for page_content {% endcomment %}